/* --------- This is CSS Reset Code --------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* --------- Begin your CSS Below here --------- */


:root {
	--primary-color: 25, 70%;
	--l: 55%;
	--secondary-color: 180, 25%, 50%;
	--tertiary-color: 0, 0%, 25%;
  }
  
  html {
	box-sizing: border-box;
  }
  
  *{
	font-family: 'Inter', sans-serif;
  }
  
  button {
	height: 45px;
	min-width: 120px;
	font-size: 25px;
	border: none;
	border-radius: 2px;
  }
  
  .blue-btn {
	background-color: rgb(50, 136, 144);
	color: white;
  }
  .orange-btn {
	background-color: rgb(210, 119, 8);
	color: white;
  }
  
  .App {
	position: relative;
	top: 0;
	min-height: 100vh;
  }
  
 main {
	padding-bottom: 180px;
  }